### **Parsing CSV files into DataFrames**
---
## **Reading Datasets using Pandas**

In [ ]:
# Import the Pandas Library
import pandas as pd
# Set that the rows will display a minimum of 20
pd.options.display.min_rows = 10

In [ ]:
# Reading data from CSV files
houses = pd.read_csv("/content/kc_house_data.csv")
states = pd.read_csv("/content/states.csv")

### **Looking up columns in a DataFrame**

In [ ]:
# Looking up the columns in the Dataframe
states.columns
houses.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
# What is type is of houses? It's a DataFrame
type(houses)

pandas.core.frame.DataFrame

In [ ]:
houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

### **Looking up the number of rows and columns in a DataFrame**

In [ ]:
# Evaluating the rows & columns of a DataFrame
#(rows, columns)
houses.shape

(21613, 21)

### **Returning the first `n` rows and last `n` rows in the DataFrame**


*   By default, the `head()` function returns the first 5 rows, while the `tail()` function returns the last 5 rows
*   By passing an argument *`n`* into `head(n)` and `tail(n)`, we specify how many rows we want displayed

In [ ]:
# head() and tail() return new DataFrames, but default is first / last rows, unless an argument is passed
first_10_states = states.head(10)
last_15_states = states.tail(15)

# Display the first 10 states
first_10_states

                  State  Abbrev Code
0               Alabama    Ala.   AL
1                Alaska  Alaska   AK
2               Arizona   Ariz.   AZ
3              Arkansas    Ark.   AR
4            California  Calif.   CA
5              Colorado   Colo.   CO
6           Connecticut   Conn.   CT
7              Delaware    Del.   DE
8  District of Columbia    D.C.   DC
9               Florida    Fla.   FL

In [ ]:
# The type of the object returned by head() and tail() should be a DataFrame
type(first_10_states)

pandas.core.frame.DataFrame

### **Displaying Summary information regarding the DataFrame**

*   The `info()` method is called on the DataFrame to prints information about a DataFrame including the index dtype and columns, non-null values and memory usage.

In [ ]:
# To Obtain summary of a DataFrame's structure, the info() method is used
# Information regrding the houses DataFrame
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
# Information regarding the states DataFrame
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   51 non-null     object
 1   Abbrev  51 non-null     object
 2   Code    51 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [ ]:
# Titanic Data
# Reading the csv file
titanic = pd.read_csv("/content/titanic.csv")
titanic.head(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

In [ ]:
# Obtaining the number of rows & columns
# (rows, columns)
titanic.shape

(1309, 14)

In [ ]:
# Obtainingthe Columns present
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [ ]:
# Obtain Summary Information of the Titanic DataFrame
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1309 non-null   object
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1309 non-null   object
 9   cabin      1309 non-null   object
 10  embarked   1309 non-null   object
 11  boat       1309 non-null   object
 12  body       1309 non-null   object
 13  home.dest  1309 non-null   object
dtypes: int64(4), object(10)
memory usage: 143.3+ KB

### **Specifying special delimiters for CSV files**

*   The `delimiter` is the special character that seperates the values in the file (by default, in a csv file the delimiter is the `comma(,)`)
*   In the `netflix_titles` dataset below, however, the values are seperated by a pipe `|` character, and that has to be specified as an argument in the `df.read_csv()` method, using the `delimiter = str` argument
*   Also, since the dataset comes with its own index column, an argument `index_col = ` is passed, and value assigned to the index of the column that we wish to explicitly declare as the index

In [ ]:
'''
* Dataset that's not separated by commas, but rather pipes (|), hence we have to specify the delimiter as the pipe (|)
* Specify the index as the first column (column at index 0)
'''
netflix = pd.read_csv("/content/netflix_titles.csv", delimiter="|", index_col=0)
netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...

In [ ]:
# Obtaining summary of the Netflix Dataset
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 1.1+ MB

### **Overrwriting column headers**

In [ ]:
# Overriding Headers
census = pd.read_csv("/content/nst-est2020.csv")
print(f"Number of Columns: {len(census.columns)}")
#type(census.columns)
census.columns

Number of Columns: 19

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'CENSUS2010POP',
       'ESTIMATESBASE2010', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017',
       'POPESTIMATE2018', 'POPESTIMATE2019', 'POPESTIMATE042020',
       'POPESTIMATE2020'],
      dtype='object')

## Define a sequence of hashables to be used as the new column labels
* The `names` list will contain new column labels

In [ ]:
# Override the Headers with lowercase names
# First declare an empty list
names = [] # Same as names = list()

# For each Header in the DataSet, append() a lowercase versio of it to the list
for i in census.columns:
  names.append(i.lower())

print(names)
#print(f"Names List size: {len(names)}")

['sumlev', 'region', 'division', 'state', 'name', 'census2010pop', 'estimatesbase2010', 'popestimate2010', 'popestimate2011', 'popestimate2012', 'popestimate2013', 'popestimate2014', 'popestimate2015', 'popestimate2016', 'popestimate2017', 'popestimate2018', 'popestimate2019', 'popestimate042020', 'popestimate2020']
Names size: 19

## Override
* Overriding the column heads can be done right from the start by passing the `names = ` argument and specifying a sequence of hashables
* If the file contains a header row, then you should explicitly pass `header=0` to override the column names.

In [ ]:
# The list of names has to be the same length as number of columns, i.e 19
'''
* The names argument provides a new list of header names
* The header=0 argument makes sure that if the dataset contained a header row,
    it is overridden
'''
census = pd.read_csv("/content/nst-est2020.csv", names=names, header=0)
census.columns

Index(['sumlev', 'region', 'division', 'state', 'name', 'census2010pop',
       'estimatesbase2010', 'popestimate2010', 'popestimate2011',
       'popestimate2012', 'popestimate2013', 'popestimate2014',
       'popestimate2015', 'popestimate2016', 'popestimate2017',
       'popestimate2018', 'popestimate2019', 'popestimate042020',
       'popestimate2020'],
      dtype='object')

In [ ]:
# Peek into the DataFrame
census.head(3)

,sumlev,region,division,state,name,census2010pop,estimatesbase2010,popestimate2010,popestimate2011,popestimate2012,popestimate2013,popestimate2014,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019,popestimate042020,popestimate2020
0,10,0,0,0,United States,308745538,308758105,309327143,311583481,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329398742,329484123
1,20,1,0,0,Northeast Region,55317240,55318414,55380764,55608318,55782661,55912775,56021339,56052790,56063777,56083383,56084543,56002934,55924275,55849869
2,20,2,0,0,Midwest Region,66927001,66929737,66975328,67164092,67348275,67576524,67765576,67885682,68018175,68160342,68263019,68340091,68357895,68316744

## Mount Everest Deaths Dataset Exercise

* The `mount_everest_deaths` dataset has its own index column provided in the dataset.  When importing it, use the existing index column.
* Which columns have zero null values?
* Which column has the most null values?

In [ ]:
# The Mt. Everest Deaths Dataset Exercise
'''
    * The `mount_everest_deaths` dataset has its own index column provided in the dataset.  When importing it, use the existing index column.\n",
    * Which columns have zero null values?
    * Which column has the most null values?
'''
deaths = pd.read_csv("/content/mount_everest_deaths.csv", index_col=0)
deaths.head(3)

,Name,Date,Age,Expedition,Nationality,Cause of death,Location
No.,,,,,,,
1,Dorje,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
2,Lhakpa,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
3,Norbu,"June 7, 1922",NaN,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col

In [ ]:
# Have a peek into the DataSet
deaths.info()

'''
  * Zero null values: Name & Date columns
  * Most null values: Age column
'''

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 1 to 310
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            310 non-null    object
 1   Date            310 non-null    object
 2   Age             160 non-null    float64
 3   Expedition      271 non-null    object
 4   Nationality     309 non-null    object
 5   Cause of death  296 non-null    object
 6   Location        291 non-null    object
dtypes: float64(1), object(6)
memory usage: 27.5+ KB

## Netflix Movies Title Exercise ðŸ’ª

---


* Import the `movie_titles.tsv` dataset
* You'll notice that it is not comma-separated! You'll need to tell `read_csv` what the separator actually is.
* The dataset does not come with its own column headings, so you'll need to provide those as well.
* The columns are, in order, `id`, `title`, `year`, `imdb_rating`, `imdb_id`, and `genres`
* Once you have successfully read the dataset into a DataFrame, inspect the last 7 rows!"

In [ ]:
# The Movies Titles Dataset Exercise

movie_cols = ['id', 'title', 'year', 'imdb_rating', 'imdb_id', 'genres']
movies = pd.read_csv("/content/movie_titles.tsv", names=movie_cols, delimiter="\t")
movies.tail(7)

,id,title,year,imdb_rating,imdb_id,genres
610,m610,the wizard of oz,1939,8.3,104873.0,['adventure' 'family' 'fantasy' 'musical']
611,m611,the world is not enough,1999,6.3,60047.0,['action' 'adventure' 'thriller']
612,m612,watchmen,2009,7.8,135229.0,['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
613,m613,xxx,2002,5.6,53505.0,['action' 'adventure' 'crime']
614,m614,x-men,2000,7.4,122149.0,['action' 'sci-fi']
615,m615,young frankenstein,1974,8.0,57618.0,['comedy' 'sci-fi']
616,m616,zulu dawn,1979,6.4,1911.0,['action' 'adventure' 'drama' 'history' 'war']